body {
    background-color: #333;
    font-family: 'Pretendard', Arial, sans-serif;
    text-align: center;
  }

  .logo {
    margin: 20px 0 0;
  }

  h1 {
    text-align:center;
    margin: 140px 0 0; 
    padding: 0;
    color: var(--grey-800, #D9D9D9);
font-family: Pretendard;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  
  h2 {
    text-align:center;
    margin: 8px 0 0;
    padding: 0;
    color: #A8B3EE;
font-family: Pretendard;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

.icon-container .frame {
    display: flex;
    margin: 8px 0 0;
    align-items: center;
    gap: 8px;
    color: var(--grey-800, #D9D9D9);
font-family: Pretendard;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
    justify-content: center;
}

.body1 {
    width: 342px; /* 해당 요구사항에 맞춰서 width를 342px로 설정합니다. */
    margin: 12px auto 0; /* 수평 중앙 정렬을 위해 margin: 0 auto; 사용합니다. */
    color: var(--grey-800, #D9D9D9);
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: 160%; /* 24px */
    white-space: pre-wrap; /* 줄 바꿈 유지 */
  }

  .button {
    display: flex;
    margin: 96px auto 0; /* 버튼을 상단으로 120px 떨어뜨리고, 수평 중앙 정렬을 위해 margin 설정 */
    width: 240px; /* 적절한 크기로 조정 */
    height: 56px; /* 적절한 크기로 조정 */
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--gra, linear-gradient(45deg, #764BA2 0%, #667EEA 100%));
    /* shadow */
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 116.667% */
}

.body2 {
    width: 342px; /* 해당 요구사항에 맞춰서 width를 342px로 설정합니다. */
    margin: 24px auto 0; /* 수평 중앙 정렬을 위해 margin: 0 auto; 사용합니다. */
    color: var(--grey-500, #8C8C8C);
text-align: center;

/* Body5 */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 21px; /* 150% */
    white-space: pre-wrap; /* 줄 바꿈 유지 */
  }

  .rectangle1 {
    margin-top: 128px;
    width: 100%;
    height: 20px;
    background: var(--back-300, #2E2E30);
  }

  .badge1 {
    display: flex;
    padding: 2px 4px;
    align-items: flex-start;
    gap: 10px;
    margin: 56px auto 0; /* 버튼을 상단으로 120px 떨어뜨리고, 수평 중앙 정렬을 위해 margin 설정 */
    width: 141px; /* 적절한 크기로 조정 */
    height: 37px; /* 적절한 크기로 조정 */
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
background: var(--white, #FFF);
color: var(--flowkit-purple, #7B61FF);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .body3 {
    margin: 12px auto 0; /* 수평 중앙 정렬을 위해 margin: 0 auto; 사용합니다. */
    color: var(--grey-800, #D9D9D9);
    text-align: center;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 250;
line-height: normal;
  }
  
  .img1 {
    margin-top: 48px;
    width: 374px;
    height: 65px;
    border-radius: 4px;
    background: url("mw1.png"),
  }
  
  .img2 {
    margin-top: 4px;
    width: 374px;
    height: 65px;
    border-radius: 4px;
    background: url("mw2.png"),
  }
  .img3 {
    margin-top: 4px;
    width: 374px;
    height: 138px;
    border-radius: 4px;
    background: url("mw3.png"),
  }

  .rectangle2 {
    margin-top: 16px;
    width: 100%;
    height: 20px;
    background: var(--back-300, #2E2E30);
  }


  .badge2 {
    display: flex;
    padding: 2px 4px;
    align-items: flex-start;
    gap: 10px;
    margin: 56px auto 0; /* 버튼을 상단으로 120px 떨어뜨리고, 수평 중앙 정렬을 위해 margin 설정 */
    width: 89px; /* 적절한 크기로 조정 */
    height: 37px; /* 적절한 크기로 조정 */
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
background: var(--white, #FFF);
color: var(--flowkit-purple, #7B61FF);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .body4 {
    margin: 12px auto 0; /* 수평 중앙 정렬을 위해 margin: 0 auto; 사용합니다. */
    color: var(--grey-800, #D9D9D9);
    text-align: center;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 250;
line-height: normal;
  }

  .img4 {
    margin-top: 48px;
    width: 374px;
height: 424px;
    border-radius: 4px;
    background: url("mm.png"),
  }

  .rectangle3 {
    margin-top: 56px;
    width: 100%;
    height: 20px;
    background: var(--back-300, #2E2E30);
  }

  .badge3 {
    display: flex;
    padding: 2px 4px;
    align-items: flex-start;
    gap: 10px;
    margin: 56px auto 0; /* 버튼을 상단으로 120px 떨어뜨리고, 수평 중앙 정렬을 위해 margin 설정 */
    width: 93px; /* 적절한 크기로 조정 */
    height: 37px; /* 적절한 크기로 조정 */
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
background: var(--white, #FFF);
color: var(--flowkit-purple, #7B61FF);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .body5 {
    margin: 12px auto 0; /* 수평 중앙 정렬을 위해 margin: 0 auto; 사용합니다. */
    color: var(--grey-800, #D9D9D9);
    text-align: center;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 250;
line-height: normal;
  }

  .img5 {
    margin-top: 48px;
    width: 374px;
height: 424px;
    border-radius: 4px;
    background: url("mtodo.png"),
  }

  .container {
    margin: auto 48px;
    /* .container에 대한 기존 스타일이 있다면 추가 */
    /* ... */
    /* ... */
  }
  
  .footer {
    /* .footer에 대한 기존 스타일 유지 */
    width: 100%;
    max-width: 440px;
    margin-top: 48px;
    margin-bottom: 56px;
    display: flex;
    align-items: center; /* align-items를 align-items: flex-start에서 align-items: center로 변경 */
    justify-content: center; /* 가로 가운데 정렬을 위해 추가 */
    gap: 32px;
    color: #FFF;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
  
  .footer-link {
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s;
  }
  
  .footer-link:hover {
    transform: scale(1.002);
  }
  
  @media screen and (max-width: 440px) {
    /* 여기에 해당 크기에 맞는 스타일 작성 */
  }
  
  @media screen and (max-width: 0px) {
    /* 여기에 해당 크기에 맞는 스타일 작성 */
  }